.idea
*.iml
out
gen
/.apt_generated/
/.classpath
/.factorypath
/.project
/.settings/
/.springBeans
/target/
/user-profile-analysis.iml
/.idea
/README.md
.DS_Store

.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

**/resources/application-dev.yaml
**/resources/application-dev.yml
**/java/com/webank/taskman/TestAutoGenerate.java
