.idea
*.iml
out
gen
/.apt_generated/
/.classpath
/.factorypath
/.project
/.settings/
/.springBeans
/target/
/user-profile-analysis.iml
/.idea
/README.md
.DS_Store

**/resources/application-dev.yaml
**/resources/application-dev.yml
**/java/com/webank/taskman/TestAutoGenerate.java
