<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.webank.taskman.mapper.FormItemInfoMapper">

    <resultMap id="FormItemInfoMap" type="com.webank.taskman.domain.FormItemInfo">
        <id column="id" property="id"/>
        <result column="form_id" property="formId"/>
        <result column="item_temp_id" property="itemTempId"/>
        <result column="name" property="name"/>
        <result column="value" property="value"/>
    </resultMap>

    <!--<select id="selectFormItemInfo" parameterType="java.lang.String"
            resultMap="FormItemInfoMap">
        SELECT * FROM form_item_info fii
        WHERE fii.form_id
        =
        (SELECT fi.id FROM form_info fi
        WHERE
        fi.record_id =#{id}
        )
    </select>-->

</mapper>
