<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.webank.taskman.mapper.RequestInfoMapper">

    <resultMap id="RequestInfoMap" type="com.webank.taskman.domain.RequestInfo">
        <id column="id" property="id"/>
        <result column="request_temp_id" property="requestTempId"/>
        <result column="proc_inst_key" property="procInstKey"/>
        <result column="name" property="name"/>
        <result column="status" property="status"/>
        <result column="created_by" property="createdBy"/>
        <result column="created_time" property="createdTime"/>
        <result column="updated_by" property="updatedBy"/>
        <result column="updated_time" property="updatedTime"/>
        <result column="del_flag" property="delFlag"/>
    </resultMap>

    <select id="selectRequestInfo" parameterType="com.webank.taskman.dto.req.SaveRequestInfoReq"
            resultMap="RequestInfoMap">
        SELECT *
        FROM request_info ri,(
        SELECT rt.*
        FROM request_template rt
        WHERE (
        SELECT COUNT(1)
        FROM role_relation rr
        WHERE rt.id = rr.record_id AND rr.role_type = 1 AND
        <foreach item="roleStr" index="index" collection="Info.roleName.split(',')" open="(" close=")" separator="OR">
            rr.role_name = #{roleStr}
        </foreach>
        ) > 0
        ) rts
        WHERE ri.request_temp_id = rts.id
    </select>

    <select id="selectSynthesisRequestInfo" parameterType="String" resultMap="RequestInfoMap">
        SELECT ri.*
        FROM
        request_info ri
        WHERE  (
        SELECT COUNT(1)
        FROM role_relation rr
        WHERE
        ri.request_temp_id = rr.record_id
        AND
        rr.role_type =0
        AND
        <foreach item="roleStr" index="index" collection="roleName.split(',')" open="(" close=")" separator="OR">
            MATCH(rr.role_name)
            AGAINST(#{roleStr})
        </foreach>
        ) > 0
    </select>

</mapper>
