<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.webank.taskman.mapper.RoleRelationMapper">

    <delete id="deleteByTemplate">
        DELETE FROM role_relation  WHERE record_table = #{tempTable} AND record_id = #{tempId}
    </delete>

    <resultMap id="RoleMap" type="com.webank.taskman.domain.RoleRelation">
        <id property="id" column="id"/>
        <result property="recordTable" column="record_table"/>
        <result property="recordId" column="record_id"/>
        <result property="roleType" column="role_type"/>
        <result property="roleName" column="role_name"/>
        <result property="displayName" column="display_name"/>
    </resultMap>

    <select id="selectRole" resultMap="RoleMap">
        SELECT * FROM role_relation WHERE record_table = #{recordTable} AND record_id=#{recordId}
    </select>

</mapper>
