<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.webank.taskman.mapper.TaskTemplateMapper">

    <resultMap id="BaseResultMap" type="com.webank.taskman.domain.TaskTemplate">
        <id property="id" column="id"/>
        <result property="procDefId" column="proc_def_id"/>
        <result property="procDefKey" column="proc_def_key"/>
        <result property="procDefName" column="proc_def_name"/>
        <result property="nodeDefId" column="node_def_id"/>
        <result property="nodeName" column="node_name"/>
        <result property="description" column="description"/>
    </resultMap>


    <select id="selectSynthesisRequestTemple" parameterType="string" resultMap="BaseResultMap">
        SELECT rt.*
        FROM
        task_template rt
        WHERE  (
        SELECT COUNT(1)
        FROM role_relation rr
        WHERE rt.id = rr.record_id
        AND
        rr.role_type =0
        AND
        <foreach item="roleStr" index="index" collection="roleName.split(',')" open="(" close=")" separator="OR">
            MATCH(rr.role_name)
            AGAINST(#{roleStr})
        </foreach>
        ) > 0
    </select>
</mapper>
