<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.webank.taskman.mapper.TaskInfoMapper">

    <resultMap id="TaskInfoMap" type="com.webank.taskman.domain.TaskInfo">
        <id column="id" property="id"/>
        <result column="request_id" property="requestId"/>
        <result column="request_no" property="requestNo"/>
        <result column="parent_id" property="parentId"/>
        <result column="task_temp_id" property="taskTempId"/>
        <result column="proc_node" property="procNode"/>
        <result column="callback_url" property="callbackUrl"/>
        <result column="callback_parameter" property="callbackParameter"/>
        <result column="name" property="name"/>
        <result column="reporter" property="reporter"/>
        <result column="report_time" property="reportTime"/>
        <result column="emergency" property="emergency"/>
        <result column="report_role" property="reportRole"/>
        <result column="result" property="result"/>
        <result column="description" property="description"/>
        <result column="attach_file_id" property="attachFileId"/>
        <result column="status" property="status"/>
        <result column="version" property="version"/>
        <result column="created_by" property="createdBy"/>
        <result column="created_time" property="createdTime"/>
        <result column="updated_by" property="updatedBy"/>
        <result column="updated_time" property="updatedTime"/>
        <result column="del_flag" property="delFlag"/>
    </resultMap>

    <select id="selectTaskInfo" parameterType="com.webank.taskman.dto.req.SaveTaskInfoReq"
            resultMap="TaskInfoMap">
        SELECT *
        FROM task_info ri,(
        SELECT rt.*
        FROM task_template rt
        WHERE (
        SELECT COUNT(1)
        FROM role_relation rr
        WHERE rt.id = rr.record_id AND rr.role_type = 1 AND
        <foreach item="roleStr" index="index" collection="Info.roleName.split(',')" open="(" close=")" separator="OR">
            rr.role_name = #{roleStr}
        </foreach>
        ) > 0
        ) rts
        WHERE ri.task_temp_id = rts.id
    </select>
</mapper>
