<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.webank.taskman.mapper.RequestInfoMapper">

    <resultMap id="RequestInfoMap" type="com.webank.taskman.domain.RequestInfo">
        <id column="id" property="id"/>
        <result column="request_temp_id" property="requestTempId"/>
        <result column="proc_inst_id" property="procInstId"/>
        <result column="root_entity" property="rootEntity"/>
        <result column="name" property="name"/>
        <result column="reporter" property="reporter"/>
        <result column="report_time" property="reportTime"/>
        <result column="emergency" property="emergency"/>
        <result column="report_role" property="reportRole"/>
        <result column="attach_file_id" property="attachFileId"/>
        <result column="status" property="status"/>
        <result column="due_date" property="dueDate"/>
        <result column="status" property="result"/>
        <result column="description" property="description"/>
        <result column="created_by" property="createdBy"/>
        <result column="created_time" property="createdTime"/>
        <result column="updated_by" property="updatedBy"/>
        <result column="updated_time" property="updatedTime"/>
        <result column="del_flag" property="delFlag"/>
    </resultMap>

    <resultMap id="RequestInfoDTOMap" type="com.webank.taskman.dto.resp.RequestInfoResqDto">
        <id column="id" property="id"/>
        <result column="request_temp_id" property="requestTempId"/>
        <result column="request_temp_name" property="requestTempName"/>
        <result column="proc_inst_id" property="procInstId"/>
        <result column="root_entity" property="rootEntity"/>
        <result column="name" property="name"/>
        <result column="reporter" property="reporter"/>
        <result column="report_time" property="reportTime"/>
        <result column="emergency" property="emergency"/>
        <result column="report_role" property="reportRole"/>
        <result column="attach_file_id" property="attachFileId"/>
        <result column="status" property="status"/>
        <result column="due_date" property="dueDate"/>
        <result column="result" property="result"/>
    </resultMap>

    <select id="selectRequestInfo" parameterType="com.webank.taskman.dto.req.RequestInfoQueryReqDto"
            resultMap="RequestInfoDTOMap">
        SELECT ri.*,rt.name  request_temp_name
        FROM request_info ri
        INNER JOIN request_template rt ON rt.id = ri.request_temp_id
        <where>
            <if test="param.id !=null and param.id !=''">
               AND  ri.id = #{param.id}
            </if>
            <if test="param.requestTempId !=null and param.requestTempId !=''">
               AND  ri.request_temp_id = #{param.requestTempId}
            </if>
            <if test="param.requestTempName !=null and param.requestTempName !=''">
               AND  rt.name  LIKE CONCAT('%',#{param.requestTempName},'%')
            </if>
            <if test="param.name !=null and param.name !=''">
               AND  ri.name LIKE CONCAT('%',#{param.name},'%')
            </if>
            <if test="param.description !=null and param.description !=''">
               AND  ri.description LIKE CONCAT('%',#{param.description},'%')
            </if>
            <if test="param.reporter !=null and param.reporter !=''">
               AND  ri.reporter LIKE CONCAT('%',#{param.reporter},'%')
            </if>
            <if test="param.emergency !=null and param.emergency !=''">
               AND  ri.emergency = #{param.emergency}
            </if>
            <if test="param.status !=null and param.status !=''">
               AND  ri.status = #{param.status}
            </if>
            <if test="param.reportTimeBegin !=null and param.reportTimeBegin !=''">
                <![CDATA[ AND  date_format(ri.report_time,'%Y-%m-%d') >= #{param.reportTimeBegin} ]]>
            </if>
            <if test="param.reportTimeEnd !=null and param.reportTimeEnd !=''">
                <![CDATA[  AND  date_format(ri.report_time,'%Y-%m-%d') <= #{param.reportTimeEnd} ]]>
            </if>
            <if test="param.conditionSql!=null and param.conditionSql !=''">
                AND rt.IN(${param.conditionSql})
            </if>
        </where>
        ORDER BY ri.updated_time DESC
    </select>

</mapper>
